.animated_circle_styling {
  background: linear-gradient(135deg, slateblue, HotPink);
  height: 50vmin;
  width: 50vmin;
  content: "";
  display: inline-block;
  filter: drop-shadow(0 0 3vmin rgb(207, 178, 207))
    drop-shadow(0 5vmin 3vmin rgb(98, 0, 95))
    drop-shadow(2vmin -4vmin 15vmin rgb(144, 124, 255))
    drop-shadow(0 0 7vmin rgb(224, 99, 255)) blur(100px);
  box-shadow: 0 -2vmin 3vmin LightPink inset, 0 1vmin 4vmin MediumPurple inset,
    0 -2vmin 7vmin purple inset;
  border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
  animation: animate 25s infinite;
}
@keyframes animate {
  0%,
  100% {
    border-radius: 35% 60% 75% 20% / 30% 52% 48% 70%;
    box-shadow: 0 -2vmin 3vmin LightPink inset, 0 1vmin 4vmin MediumPurple inset,
      0 -2vmin 7vmin purple inset;
  }

  5% {
    border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
  }

  10% {
    border-radius: 67% 33% 47% 53% / 57% 40% 80% 63%;
  }

  20% {
    border-radius: 39% 61% 47% 53% / 27% 40% 60% 63%;
    box-shadow: -1vmin -2vmin 3vmin LightPink inset,
      -1vmin -2vmin 4vmin MediumPurple inset, 1vmin -1vmin 7vmin purple inset;
  }

  30% {
    border-radius: 39% 61% 82% 38% / 28% 20% 56% 50%;
  }

  45% {
    border-radius: 100%;
    box-shadow: 0 2vmin 3vmin LightPink inset, 0 1vmin 4vmin MediumPurple inset,
      0 2vmin 7vmin purple inset;
  }

  60% {
    border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
  }

  75% {
    border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
    box-shadow: 1vmin 1vmin 4vmin LightPink inset,
      2vmin -1vmin 4vmin MediumPurple inset, -1vmin -1vmin 5vmin purple inset;
  }

  85% {
    border-radius: 50% 50% 53% 47% / 56% 69% 31% 74%;
  }

  95% {
    border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
  }
}
